a {
  padding: 0px 5px;
  color: rgb(240, 168, 36);
  font-weight: bold;
}

button {
  padding: 5px 10px;
  color: rgb(240, 168, 36);
  font-weight: bold;
  background-color: white;
  border: 0.5px solid rgb(240, 168, 36);
}

#addmodels,
#modelscount,
#models,
#progress,
#viewvehicles,
#addvehicles {
  margin-top: 50px;
}

th {
  background-color: rgb(240, 168, 36);
}

.logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
